body {

  background-color: black;
  font-size: 16px;
  color: #ffffff;
  font-family: 'open_sanslight', sans-serif;
  height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

div.logo-n-selector {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 88vh;
  flex: 1;

  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 88vh;
    flex: 1;
  }

  @include desktop {
    background-color: black;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 88vh;
    flex: 1;
    padding: 2rem;
  }
}

section.article-form {

  @include desktop {
    padding-left: 5rem;
    margin-bottom: 1rem;
  }
}

p.selection {
  padding: 1.1rem;
  font-size: 1.1rem;

  @include desktop {
    font-size: 1rem;
  }
}
